html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

body {
    background-color: wheat;
}

header {
    width: 100%;
    background-color: #BF6E33;
    padding: 0 10px;
    font-family: 'EB Garamond', serif;
}

header > * {
    display: inline-block;
    height: 68px;
}

header img {
    background-color: transparent;
    width: 50px;
}

.logo {
    width: 65px;
}

img[alt=logo] {
    padding: 7.33px 0;
}

.tagline {
    color: #333;
    width: 150px;
}

header h3 {
    position: absolute;
}

.menu-button {
    float: right;
    width: 70px;
}

img[alt=menu] {
    float: right;
}